@import "@fontsource/league-gothic/400.css";
@import "@fontsource/atkinson-hyperlegible/400.css";
@import "@fontsource/atkinson-hyperlegible/700.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: #091128;
}
